[Unit]
Description=XFCE4
After=display.service
Requires=display.service

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/default/kubevda
ExecStart=/bin/bash -c 'export $$(dbus-launch) ; exec /usr/bin/startxfce4'

[Install]
WantedBy=default.target
